<style>
/* Applicable to all pages */

body {
    padding: 50px 100px;
}

#title {
    font-family: 'Josefin Sans', sans-serif, Arial;
    margin-bottom: 50px;
    font-size: 300%;
    text-align: center;
    background-color: #222E50;
    padding: 15px;
    width: 50vw;
    color: white;
    border-radius: 20px;
}

/* Buyer's Page */

#header {
    float: right;
}

#search-input {
    width: 80%;
}

#search {
    margin-bottom: 50px;
    text-align: center;
}
</style>

<div id = "header">
    {{!-- goes to login.handlebars --}}
    <a href = "/login"> Sign Up / Log In  </a> | 
    {{!-- goes to shopping.handlebars --}}
    <a href = "/cart"> Shopping Cart </a>
</div>

<h1 id = "title"> The Marketplace </h1>

<div id = "search">
    <input id = "search-input">
    <button id = "search-btn"> <a href = "/search"> Search </a> </button>
</div>
