<div id = "header">
    {{!-- goes to login.handlebars --}}
    <a href = "/login"> Sign Up / Log In  </a> | 
    {{!-- goes to shopping.handlebars --}}
    <a href = "/cart"> Shopping Cart </a>
</div>

<h1 id = "title"> The Marketplace </h1>

<div id = "search">
    <input id = "search-input">
    <button id = "search-btn"> Search </button>
</div>
