    <div id = "header">
        <a href = "login.html"> Sign Up / Log In</a> |  
        <a href = "shopping.html"> Shopping Cart </a> 
    </div>

    <h1 id = "title"> The Marketplace </h1>

    <div id = "search">
        <input id = "search-input">
        <button id = "search-btn"> Search </button>
    </div>

    <div id = "buyers-page">
        <!-- will have the displayed textbooks in respect to search input -->
        <!-- Info included: Image, Title, Author, Price, Condition, City -->
    </div>

    <button id = "add-cart"> Add to Cart </button>