<style>

body {
    padding: 50px 100px;
}

#title {
    font-family: 'Josefin Sans', sans-serif, Arial;
    margin-bottom: 50px;
    font-size: 300%;
    text-align: center;
    background-color: #222E50;
    padding: 15px;
    width: 50vw;
    color: white;
    border-radius: 20px;
}

</style>

<h1 id = "title"> The Marketplace </h1>

<div id = "shopping-cart">

</div>

<h3>{{msg}}</h3>

{{!-- goes to buyer.handlebars --}}
<button id = "shopping-btn"> <a href = "/buyer"> Keep Shopping </a> </button>

{{!-- goes to login.handlebars --}}
<button id = "contact-btn"> <a href = "/login"> Contact Seller </a></button>