<link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

<!-- Materialize: Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Materialize: Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>   

<style>
body {
    padding: 50px 100px;
}

.nav-wrapper {
    background-color: #222E50;
    position: fixed;
    width: 100%;
    font-family: 'Kosugi Maru', sans-serif, Arial;
}

.brand-logo {
    margin-left: 20px;
}

#header {
    float: right;
}

.buttons {
    border-radius: 5px;
}

.buttons:hover {
    background: #222E50;
    width: 20%;
}

.buttons a:hover {
    text-decoration: none;
    color: white;
    padding: 10px;
}

</style>


<nav>
    <div class="nav-wrapper">
    <a href="/" class="brand-logo">Mine &amp; Yours</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/login">Sign Up / Log In</a></li>
        <li><a href="/cart">Shopping Cart</a></li>
    </ul>
    </div>
</nav>

<div id = "shopping-cart">

</div>

<h3>{{msg}}</h3>

{{!-- goes to buyer.handlebars --}}
<button id = "shopping-btn" class = "buttons" > <a href = "/buyer"> Keep Shopping </a> </button>

{{!-- goes to login.handlebars --}}
<button id = "contact-btn" class = "buttons" > <a href = "/login"> Contact Seller </a></button>