<script>

body {
    padding: 50px 100px;
}

#title {
    font-family: 'Josefin Sans', sans-serif, Arial;
    margin-bottom: 50px;
    font-size: 300%;
    text-align: center;
    background-color: #222E50;
    padding: 15px;
    width: 50vw;
    color: white;
    border-radius: 20px;
}

</script>

<button> <a href = "/seller"> Submit </a> </button>
