<link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

<style>

body {
    padding: 50px 100px;
}

#master-login-example {
    font-family: 'Kosugi Maru', sans-serif, Arial;
    font-size: 150%;
    text-align: center;
    background-color: #222E50;
    padding: 15px;
    width: 50vw;
    color: white;
    border-radius: 20px;
    margin: 0 auto;
}

#login-btn {
  margin-top: 50px;
}

#loginH1 {
  margin-top: 50px;
  text-align: center;
}

#home {
  float: right;
}

#login-options {
  text-align: center;
  margin-top: 40px;
}

.login-submit {
  width: 50%;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid;
}

p {
  font-size: 150%;
  color: #222E50
}



</style>


<a href="/" style="margin-left:33.3%" id = "home">← Back To Home</a>

<p id="loginH1">{{msg}} Step 1: Log In or Sign up if you haven't registered </p>

 <div id="master-login-example">
  <div id="login_div" class="main-div">
    <h3>User Information </h3>
    <input type="email" placeholder="Email..." id="email_field" />
    <input type="password" placeholder="Password..." id="password_field" />
    <button id = "login-btn" onclick="login()" >Login to Account</button>
  </div>
  <div id="create_div" class="create-account">
    <button onclick="window.location.href='/register'">Create Account</button>
  </div>
  <div id="user_div" class="loggedin-div">
    <h3>Welcome User</h3>
    <p id="user_para">Welcome to Firebase web login Example. You're currently logged in.</p>
    <button onclick="logout()">Logout</button>
  </div>
</div>

<div id = "login-options">
<p> Step 2: Please select </p>
<button id = "buyer-login" class = "login-submit"> <a href = "/seller"> I'm a Seller </a> </button>
<button id = "seller-login" class = "login-submit"> <a href = "/cart"> I'm a Buyer </a> </button>
</div>

<script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
<script src="/js/login.js"></script>




