<style>
/* Applicable to all pages */

body {
    padding: 50px 100px;
}

#title {
    font-family: 'Josefin Sans', sans-serif, Arial;
    margin-bottom: 50px;
    font-size: 300%;
    text-align: center;
    background-color: #222E50;
    padding: 15px;
    width: 50vw;
    color: white;
    border-radius: 20px;
}
</style>

<div id = "search-page">
    <!-- will have the displayed textbooks in respect to search input -->
    <!-- Info included: Image, Title, Author, Price, Condition, City -->
    
    {{#each books}}
    {{!-- <img> --}}
    <div id = "text-info">
        <p> Title: {{this.title}} </p>
        <p> Author: {{this.authors}} </p>
        <p> Price: {{this.price}} </p>
        <p> Condition: {{this.condition}} </p>
    </div>
    {{/each}}
</div>

<button id = "add-cart"> Add to Cart </button>