<link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

<style>
/* Applicable to all pages */

body {
    padding: 50px 100px;
}

#title {
    font-family: 'Josefin Sans', sans-serif, Arial;
    margin-bottom: 50px;
    font-size: 300%;
    text-align: center;
    background-color: #222E50;
    padding: 15px;
    width: 50vw;
    color: white;
    border-radius: 20px;
}

/* Seller's Page */

#header {
    float: right;
}

.input {
    width: 60%;
}

#seller-submit {
    margin-top: 50px;
}
</style>

<div id = "header">
    {{!-- goes to login.handlebars --}}
    <a href = "/login"> Sign Up / Log In  </a> | 
    {{!-- goes to shopping.handlebars --}}
    <a href = "/cart"> Shopping Cart </a>
</div>

<h1 id = "title"> The Marketplace </h1>

<p> Let us help you sell your textbook - please complete the form below: </p>

<form id = "seller-info">
    <p> Name of Seller: <input id = "name-input" class = "input" type = "text" placeholder = "full name"> </p>
    <p> Book Title: <input id = "title-input" class = "input" type = "text" placeholder = "complete name of textbook"> </p>
    <p> Author: <input id = "author-input" class = "input" type = "text" placeholder = "first &amp; last name"> </p>
    <p> Price: <input id = "price-input" class = "input" type = "number" placeholder = "no decimals"> </p>
    <p> Condition: <input id = "condition-input" class = "input" type = "text" placeholder = "describe condition"> </p>
    <p> Location: <input id = "location-input" class  = "input" type = "text" placeholder = "city"> </p>
</form>
   
    <button id = "seller-submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Submit </button>

{{!-- Modal Pop-Up --}}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Thank you for your submission! <br> Your info has now been included in our Textbook Listings.
        </div>
        <div class="modal-footer">
            <button id = "close-btn" type="button" class="btn btn-secondary" data-dismiss="modal"> Close </button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

$("#seller-submit").on("click",function(event){
    event.preventDefault();
    alert("seller btn clicked");
// get seller Info from the form and store data to sellers table in the db
      var sellerInfo = {
     name: $("#name-input").val().trim(),
     title:$("#title-input").val().trim(),
     authors:$("#author-input").val().trim(),
     price:$("#price-input").val().trim(),
     condition:$("#condition-input").val().trim(),
     location:$("#location-input").val().trim()
  };

      $.post("/api/sellers",sellerInfo, function (data) {
       // go to /api/sellers to see seller info added   
       //window.location.href = '/api/sellers';
       
    });
 // show seller name in the modal title;
 $('#exampleModalLabel').text("Hi "+sellerInfo.name);

 // clear input forms
 $("#name-input").val("");
 $("#title-input").val("");
 $("#author-input").val("");
 $("#price-input").val("");
 $("#condition-input").val("");
 $("#location-input").val("");
 // clear modal title seller name 
 $('#exampleModalLabel').val("");

});

</script>
