<div id = "header">
    {{!-- goes to login.handlebars --}}
    Sign Up / Log In | 
    {{!-- goes to shopping.handlebars --}}
    Shopping Cart 
</div>

<h1 id = "title"> The Marketplace </h1>

<p> Let us help you sell your textbook - please complete the form below: </p>

<form id = "seller-info">
    <p> Name of Seller: <input id = "name-input" class = "input" type = "text" placeholder = "full name"> </p>
    <p> Book Title: <input id = "title-input" class = "input" type = "text" placeholder = "complete name of textbook"> </p>
    <p> Author: <input id = "author-input" class = "input" type = "text" placeholder = "first &amp; last name"> </p>
    <p> Price: <input id = "price-input" class = "input" type = "number" placeholder = "no decimals"> </p>
    <p> Condition: <input id = "condition-input" class = "input" type = "text" placeholder = "describe condition"> </p>
    <p> Location: <input id = "location-input" class  = "input" type = "text" placeholder = "city"> </p>
</form>

<button id = "seller-submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Submit </button>

{{!-- Modal Pop-Up --}}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Thank you for your submission! <br> Your info has now been included in our Textbook Listings.
        </div>
        <div class="modal-footer">
            <button id = "close-btn" type="button" class="btn btn-secondary" data-dismiss="modal"> Close </button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
        </div>
    </div>
</div>