<link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

<!-- Materialize: Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Materialize: Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>   

<style>
/* Applicable to all pages */

body {
    padding: 50px 100px;
}

.nav-wrapper {
    background-color: #222E50;
    position: fixed;
    width: 100%;
    font-family: 'Kosugi Maru', sans-serif, Arial;
}

.brand-logo {
    margin-left: 20px;
}

#header {
    float: right;
}

.input {
    width: 60%;
}

#seller-info {
    font-family: 'Kosugi Maru', sans-serif, Arial;
    width: 60vw;
    margin: 0 auto;
    padding-top: 20px;
}

#seller-submit {
    float: right;
    margin-top: 10px;
}
</style>

<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Mine &amp; Yours</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/login">Sign Up / Log In</a></li>
        <li><a href="/cart">Shopping Cart</a></li>
      </ul>
    </div>
</nav>

<p> Let us help you sell your textbook - please complete the form below: </p>

<form id = "seller-info">
    <p> Name of Seller: <input id = "name-input" class = "input" type = "text" placeholder = "full name"> </p>
    <p> Book Title: <input id = "title-input" class = "input" type = "text" placeholder = "complete name of textbook"> </p>
    <p> Author: <input id = "author-input" class = "input" type = "text" placeholder = "first &amp; last name"> </p>
    <p> Price: <input id = "price-input" class = "input" type = "number" placeholder = "no decimals"> </p>
    <p> Condition: <input id = "condition-input" class = "input" type = "text" placeholder = "describe condition"> </p>
    <p> Location: <input id = "location-input" class  = "input" type = "text" placeholder = "city"> </p>
</form>
   
    <button id = "seller-submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Submit </button>

{{!-- Modal Pop-Up --}}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Thank you for your submission! <br> Your info has now been included in our Textbook Listings.
        </div>
        <div class="modal-footer">
            <button id = "close-btn" type="button" class="btn btn-secondary" data-dismiss="modal"> Close </button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

$("#seller-submit").on("click",function(event){
    event.preventDefault();
    alert("seller btn clicked");
// get seller Info from the form and store data to sellers table in the db
      var sellerInfo = {
     name: $("#name-input").val().trim(),
     title:$("#title-input").val().trim(),
     authors:$("#author-input").val().trim(),
     price:$("#price-input").val().trim(),
     condition:$("#condition-input").val().trim(),
     location:$("#location-input").val().trim()
  };

      $.post("/api/sellers",sellerInfo, function (data) {
       // go to /api/sellers to see seller info added   
       //window.location.href = '/api/sellers';
       console.log("seller added to the db")
       
    });
 // show seller name in the modal title;
 $('#exampleModalLabel').text("Hi "+sellerInfo.name);

 // clear input forms
 $("#name-input").val("");
 $("#title-input").val("");
 $("#author-input").val("");
 $("#price-input").val("");
 $("#condition-input").val("");
 $("#location-input").val("");
 // clear modal title seller name 
 $('#exampleModalLabel').val("");

});

</script>
