
<h1 id = "title"> The Marketplace </h1>

<div id = "shopping-cart">

</div>

<h3>{{msg}}</h3>

{{!-- goes to buyer.handlebars --}}
<button id = "shopping-btn"> <a href = "/buyer"> Keep Shopping </a> </button>

{{!-- goes to login.handlebars --}}
<button id = "contact-btn"> <a href = "/login"> Contact Seller </a></button>