

<div id="create_account_div">
  <input type="email" placeholder="Email..." id="create_email_field">
  <input type="password" placeholder="Password..." id="create_password_field">
  <button onclick="createUser()">Create account</button>
</div>
<script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
<script src="/js/signUp.js"></script>
